# =========================
# macOS system files
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# =========================
# Python cache & compiled
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Python packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Test & coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# Environment variables
# =========================
.env
.env.*
